body {
    margin: 0 auto;
    background: url(./assets/home2.jpg) no-repeat;
    background-size: cover;

    overflow-x: hidden;
    overflow-y: hidden;
}

img {
    width: 100%;
    height: auto;
  }

.container {
    display: flex;
}

.block {
    width: 33%;
    height: 100vh;
  }

.background-shadow {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);

    z-index: -1;
}

.difficulty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50%;

    gap: 20px;
}

.difficulty-container {
    display: none;
    z-index: 2;
    margin: 30px;
}

.difficulty-container.active {
    display: block;
}

.button {
    border-radius: 50px;
    padding: 10px 20px;
    width: 60%;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: calc(100vw - 98.5vw);
    color:antiquewhite;
    border-style: none;

    transition: 0.3s ease-in-out;
}

.button.active {
    opacity: 70%;
    box-shadow: 0 0 30px red;
    transition: 0.3s ease-in-out;
}

.button:hover {
    opacity: 70%;
    cursor: pointer;
}

.difficulty0 {
    background-color: rgb(0, 159, 207);
}

.difficulty1 {
    background-color: green;
}

.difficulty2 {
    background-color: rgb(194, 78, 0);
}

.difficulty3 {
    background-color: rgb(35, 35, 170);
}

.difficulty4 {
    background-color: rgb(139, 1, 59);
}


.ancient {
    width: 27%;
    margin: 10px;

    border-radius: 10px;

    transition: ease-in-out 0.3s;
}

.ancient.active {
    transform: scale(0.9);
    transition: ease-in-out 0.3s;
    box-shadow: 0 0 30px rgb(229, 255, 0);
}

.ancients {
    z-index: 3;
    cursor: pointer;
}

.mix {
    z-index: 3;

    margin-top: 30%;
}

.mix-button {
    position: absolute;
    right: 10%;
    background-color: purple;
    border-radius: 50px;
    padding: 15px 30px;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: calc(100vw - 98.5vw);
    color:antiquewhite;
    border-style: none;

    display: none;
}

.mix-button:hover {
    opacity: 70%;
    cursor: pointer;
}

.mix-button.active {
    display: block;
}

.block-table {
    left: 70.5%;
    top: 5%;

    display: none;
}

.block-table.active {
    display: block;
}

.level-container {
margin-bottom: 15px;
}

.level-container.active {
    display: block;
}

.level {
    width: 15%;
    margin: 5px;
    border-radius: 10px;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: calc(100vw - 98.5vw);
    color:antiquewhite;

    display: flex;
    justify-content: center;
    align-items: center;
}

.first-level {
    background-color: green;
    height: 3.5em;
}

.second-level {
    background-color: rgb(194, 78, 0);
}

.third-level {
    background-color: rgb(35, 35, 170);
}

.stage {
    display: flex;
    justify-content: center;
}

.stage-title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: calc(100vw - 98.5vw);
    color:antiquewhite;

    text-align: center;
}

.stage-title.active {
    color: red;
}

.open-card-container {
    display: flex;
    justify-content: center;
}

.back-card:hover {
    opacity: 70%;
}

.card-result {
    width: 27%;
    margin: 10px;
    border-radius: 10px;

    background: url('./assets/mythicCardBackground2.png') no-repeat;
    background-size: contain;

    display: none;
}

.card-result.active {
    display: block;
}

.open-card {
    width: 27%;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.back-card {
    border-radius: 10px;
}

.deck {
    margin-top: 20%;
}

@media (max-width: 767px) {
    .ancient {
        width: 80%;
    }

    .difficulty {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:200%;
    
        gap: 30px;
    }

    .button {
        border-radius: 50px;
        padding: 3px 7px;
        width: 100%;
    
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: calc(100vw - 98.5vw);
        color:antiquewhite;
        border-style: none;
    
        transition: 0.3s ease-in-out;
    }

    .deck {
        margin-top: 120%;
    }
}

@media (max-width: 2500px) {
    .ancient {
        width: 27%;
    }
}

@media (max-width: 1700px) {
    .ancient {
        width: 55%;
    }
}

@media (max-width: 1250px) {
    .ancient {
        width: 70%;
    }
}

@media (max-width: 800px) {
    .ancient {
        width: 100%;
    }
    .button {
        border-radius: 50px;
        padding: 3px 7px;
        width: 100%;
    
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: calc(100vw - 95.5vw);
        color:antiquewhite;
        border-style: none;
    
        transition: 0.3s ease-in-out;
    }
    .card-result {
        width: 100%;
    }
    
    .open-card {
        width: 100%;
    }

}

